.book-container {
  width: 90%;
  max-width: 800px;
  height: 70vh;
  padding: 20px;
  margin: 20px auto;
  overflow-y: auto;
  border: 2px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: serif;
  font-size: 19px;
  line-height: 1.15;
  display: flex;
  justify-content: center;
}

.book-text {
  white-space: pre-wrap; /* Preserves whitespace and line breaks */
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 600px) {
  .book-container {
    height: 60vh;
    padding: 10px;
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .book-container {
    background-color: #333; /* Gray background for dark mode */
  }
}

@media (prefers-color-scheme: light) {
  .book-container {
    background-color: #fff; /* Gray background for dark mode */
  }
}

